## Lists

In [ ]:
empty_list = []
empty_list = list()

numbers = [1, 2, 3, 4]
my_list = [1, 0.2, True, "Vetit", None, [], [1, 2], print, int, range]

# C lang
# int[10] arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];

In [ ]:
numbers = [1, 2, 3, 4]
# print(len(numbers))
# print(numbers[1])
# print(numbers[-1])
# print(numbers[1:3]) # [2, 3]
# print(numbers[::-1])
# numbers.reverse() # in-place replacement (in-place operations)
print(numbers)

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6, 7, 8, 9, 10]]
print(matrix[0])
print(len(matrix))
print(matrix[0][2])
print(matrix[1][1:])

In [ ]:
numbers = [1, 2, 3]

# [1, 2, 3, 4]
# numbers.append(4) # in-place replacement/operation

"""
These three lines are the same
"""
# numbers.extend([4])
# numbers += [4]
# numbers = numbers + [4]

# numbers.insert(0, 4)
print(numbers)

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = []
c.extend([a, b])
# [1, 2, 3, 4, 5, 6]
# [[1, 2, 3], [4, 5, 6]]
print(c)

In [ ]:
numbers = [4, 2, 3, 4]

numbers.remove(4)
print(numbers)

In [ ]:
numbers = [4, 2, 3, 4]
numbers.pop(1)
print(numbers)

In [ ]:
numbers = []
for num in range(1, 101):
    numbers.append(num)

for num in numbers:
    if num % 2 != 0 and num % 3 == 0:
        numbers.remove(num)
print(len(numbers))

In [ ]:
numbers = []
for num in range(1, 101):
    if num % 2 == 0 or num % 3 != 0:
        numbers.append(num)

print(numbers)

In [ ]:
numbers = [num for num in range(1, 101) if \
    (num % 2 == 0 or num % 3 != 0)]
print(numbers)

In [ ]:
# List comprehension
numbers = [element for element in range(5)]
print(numbers)

# Traditional
numbers = []
for element in range(5):
    numbers.append(element)
print(numbers)

## Loop in list

In [ ]:
my_list = [1, 2, 3, 4]
for element in my_list:
    print(element)

for index, element in enumerate(my_list):
    print(index, element)

In [1]:
numbers = [1, 2, 3, 4]
numbers[0] *= 5
print(numbers)

[5, 2, 3, 4]

In [ ]:
#numbers = [2, 4, 6,8]
numbers = [1, 2, 3, 4]

#list comprehension
#numbers = [num * 2 for num in numbers]
#print(numbers)

#for loop
#for index, num in enumerate(numbers):
    #numbers[index] *= 2
#print(numbers)

for index, _ in enumerate(numbers):
    numbers[index] *= 2
print(numbers)

for index in range(len(numbers)):
    numbers[index] *= 2
print(numbers)

In [2]:
#List extractor

numbers = [1, 2, 3, 4]
print(*numbers)

1 2 3 4

In [6]:
ord('A')
#ascii number for A

65

In [ ]:
numbers = [5, 3, 1, 2]
numbers.sort()
numbers.reverse()
#or use numbers.sort(reverse=True)
print(numbers)

[5, 3, 2, 1]

In [11]:
letters = ['a', 'b', 'e', 'c']
letters.sort()
print(letters)

['a', 'b', 'c', 'e']

In [13]:
letter = ['Apple', 'Appeal']
letter.sort()
print(letter)
#['Apple', 'Appeal']
#['Appeal', 'Apple']

['Appeal', 'Apple']

In [ ]:
def my_function(number):
    return numbers(1)

In [ ]:
scores = [['Cheetah', 55], ['North', 67], ['Shinshin', 10]]
scores.sort(key=my_function, reverse=True)
print(scores)

[['Cheetah', 55], ['North', 67], ['Shinshin', 10]]

In [ ]:
hi = [1, 2, 3, 4, [3]]
print(1 in hi)
print(3 in hi)
print([3] in hi)
print([4] in hi)

True
False
False
False

## Map

In [72]:
my_list = [1.5, 2.5, 3.4]
print(list(map(int, my_list))) # [int(1.5), int(2.5), int(3.4)]

[1, 2, 3]

## Tuple

In [73]:
empty_list = []
empty_list = list()

empty_tuple = ()
empty_tuple = tuple()

my_tuple = (1, 2, 3)

one_element_tuple = (1,)
print(one_element_tuple, type(one_element_tuple))

(1,) <class 'tuple'>

## Set

In [74]:
empty_set = set()
my_set = {1, 2, 3, 4, 4, 4}
print(my_set)

{1, 2, 3, 4}

In [75]:
set([1, 1, 3, 4])
set([1, 1, 3, 4])
set('appple')

{'a', 'e', 'l', 'p'}

In [76]:
2 in {1, 2, 3}

True

In [78]:
print(*{3, 1, 2})

1 2 3

## Set Operations

union

intersection

difference

complementary

In [ ]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
print(set_a.union(set_b))
print(set_a | set_b | {8, 9, 10})

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 8, 9, 10}

In [83]:
set_a.union([3, 4, 5])

{1, 2, 3, 4, 5}

## intersect

In [86]:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
print(set_a.intersection(set_b))
print(set_a & set_b)

{3, 4}
{3, 4}

## Difference

In [ ]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
print(set_a.difference(set_b)) #A-B
print(set_b.difference(set_a)) #B-A
print(set_a - set_b) #A-B
print(set_b - set_a) #B-A      ##can only use -

{1, 2}
{4, 5}
{1, 2}
{4, 5}

## Complementary

In [90]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
print(set_a.symmetric_difference(set_b))

{1, 2, 4, 5}

## Loop

In [91]:
s = {'apple', 'banana', 'cherry'}
for elements in s:
    print(elements)

apple
cherry
banana

In [ ]:
for index, element in enumerate(s):
    print(index, element)  # it is in weird order because of its hash value

0 apple
1 cherry
2 banana

## Add elements

In [ ]:
set_a = {1, 2, 3}
set_a.add(True) # True is 1
print(set_a)

{1, 2, 3}

In [97]:
hash(1), hash(True)

(1, 1)

## Delete Elements

In [99]:
set_a = {1, 2, 3, True}
set_a = {0, 2, 3, False}
print(set_a)

{0, 2, 3}

In [111]:
set_a = {1, 2, 3, 4}
print(set_a.pop())
set_a.update([5, 6, 7])
set_a

1

{2, 3, 4, 5, 6, 7}

## Dictionary

In [113]:
empty_dict = {}
empty_dict = dict()
animal_legs = {'human': 2, 'dog': 4, 'spider': 8}
print(animal_legs)

{'human': 2, 'dog': 4, 'spider': 8}

# Cannot use unhasable type for keys

list

set

dictionary

# Hashable

tuple

string

int, float, boolean, None

In [114]:
hash(None)

4238894112

In [120]:
my_key = 'horse'
my_dict = {my_key: 4}
my_key += 'w'
print(my_dict)

{'horse': 4}

In [122]:
animal_legs = {'human': 2, 'dog': 4, 'spider': 8}
animal_legs['human']

2

In [127]:
animals = {'human': 2, 'dog': 4, 'spider': 8, 'cat': 4, 'horse': 4, 'snake': 0, 'snake': 2} # snake prints the latest one
animals

{'human': 2, 'dog': 4, 'spider': 8, 'cat': 4, 'horse': 4, 'snake': 2}

In [129]:
l = [1, 2, 3]
l[2] = 4 # change the value at index 2
print(l)

[1, 2, 4]

In [145]:
animal_legs.update ({'cheetah': 7,
                    'spider': 10})
animal_legs

{'human': 2, 'dog': 4, 'spider': 10, 'cheetah': 7}

## Remove

In [146]:
animal_legs = {'human': 2, 'horse': 4, 'fish': 0, 'spider': 8}

In [ ]:
animal_legs.popitem()

TypeError: pop expected at least 1 argument, got 0

In [171]:
animal_legs

{}

In [172]:
animal_legs = {'human': 2, 'horse': 4, 'fish': 0, 'spider': 8}
for key in animal_legs:
    print(key, animal_legs[key])

human 2
horse 4
fish 0
spider 8

In [174]:
print(animal_legs.items())

dict_items([('human', 2), ('horse', 4), ('fish', 0), ('spider', 8)])

In [176]:
for item in animal_legs.items():
    print(item)

('human', 2)
('horse', 4)
('fish', 0)
('spider', 8)

In [178]:
for key, value in animal_legs.items():
    print(key, value)

human 2
horse 4
fish 0
spider 8

In [179]:
for key in animal_legs.keys():
    print(key)

human
horse
fish
spider